<h2 mat-dialog-title>AVISO DE PRIVACIDAD</h2>
<mat-dialog-content class="mat-typography">
  <p>Con el fin de dar cumplimiento a lo establecido en la Ley Federal de Protección de Datos 
    Personales en Posesión de los Particulares (en adelante la “Ley”), en su Reglamento (en 
    adelante el “Reglamento”) y en los Lineamientos del Aviso de Privacidad (en adelante los 
    “Lineamientos”), a través del presente Aviso de Privacidad, nos permitimos informarle sobre 
    el tratamiento y la protección de los datos personales que usted proporcione a <b>EDUARDO MURILLO MUÑOZ</b>.
    Es primordial para <b>EDUARDO MURILLO MUÑOZ</b> mantener el buen uso de sus datos personales mismos 
    que consideramos confidenciales en los términos de este Aviso, de la Ley, del Reglamento y 
    los Lineamientos.Con el fin de dar cumplimiento a lo establecido en la Ley Federal de 
    Protección de Datos Personales en Posesión de los Particulares (en adelante la “Ley”), en 
    su Reglamento (en adelante el “Reglamento”) y en los Lineamientos del Aviso de Privacidad 
    (en adelante los “Lineamientos”), a través del presente Aviso de Privacidad, nos permitimos 
    informarle sobre el tratamiento y la protección de los datos personales que usted proporcione 
    a <b>EDUARDO MURILLO MUÑOZ</b>.</p>

  <h3>I. IDENTIDAD Y DOMICILIO DEL RESPONSABLE QUE RECABA LOS DATOS PERSONALES.</h3>
  <p><b>EDUARDO MURILLO MUÑOZ</b>, con domicilio en Calle Hidalgo Núm. Ext. 108, Interior 5, Colonia Centro, 
    Degollado, Jalisco. C.P. 47980.</p>

  <h3>II. FINALIDADES DE LA OBTENCIÓN DE DATOS PERSONALES.</h3>
  <p>Los datos personales que <b>EDUARDO MURILLO MUÑOZ</b> recabará serán utilizados para las siguientes finalidades:
    <br>
    a. Contrataciones: altas, renovaciones y bajas.
    <br>
    b. Consultas, investigaciones y revisiones en relación con sus quejas o reclamaciones.
    <br>
    c. Facturación en general.</p>

  <h3>III. FINALIDADES SECUNDARIAS O ACCESORIAS.</h3>
  <p>Los datos personales que usted proporcione a <b>EDUARDO MURILLO MUÑOZ</b> también podrán ser utilizados 
    para fines de mercadotecnia, publicidad o prospección comercial, respecto a promociones, descuentos 
    o beneficios a su favor y que pudieran ser de su interés.
    En caso de no estar de acuerdo en proporcionar sus datos personales para las finalidades secundarias 
    o accesorias mencionadas, deberá de presentar un escrito debidamente firmado ante nuestras oficinas 
    o por medio de correo electrónico, solicitando la baja correspondiente anexando copia simple de su 
    identificación oficial.</p>

  <h3>IV. DATOS PERSONALES QUE SERÁN TRATADOS.</h3>
  <p>Para llevar a cabo las finalidades descritas en el presente Aviso de
    Privacidad, le informamos que <b>EDUARDO MURILLO MUÑOZ</b> utilizará sus datos
    de identificación, de contacto, domicilio y teléfono.</p>

  <h3>V. SEÑALAMIENTO EXPRESO DE LOS DATOS PERSONALES SENSIBLES QUE SE
    TRATEN.</h3>
  <p>Además de los datos personales mencionados anteriormente para las
    finalidades informadas en el presente Aviso de Privacidad, <b>EDUARDO MURILLO MUÑOZ</b> 
    no utilizará datos personales considerados como sensibles que requieren especial protección.</p>

  <h3>VI. TRANSFERENCIAS DE DATOS PERSONALES QUE EN SU CASO SE EFECTUARÁN.</h3>
  <p>Le informamos que sus datos personales de identificación, contacto,
    domicilio y teléfono descritos serán compartidos nacionalmente con los
    siguientes Organismos públicos y privados para los efectos que a
    continuación se describen:
    <br>
    • Instituto Federal de Telecomunicaciones (por sus siglas IFT) para
    comprobar los servicios efectuados en ejercicio del título habilitante.
    <br>
    • Procuraduría Federal del Consumidor (por sus siglas PROFECO) para
    comprobar los servicios efectuados en ejercicio de los registros de
    contratos de adhesión.
    <br>
    • Al agente económico preponderante para trámites de desagregación
    del bucle local en el caso de verificar la autenticidad del cliente final.
    <br>
    • Proveedores de servicio de timbrado para la emisión de comprobantes
    fiscales digitales por internet (CFDI).</p>

  <h3>VII. MEDIOS Y PROCEDIMIENTO PARA EJERCER LOS DERECHOS ARCO.</h3>
  <p>Usted tiene derecho de conocer qué datos personales tenemos de
    usted (Acceso). Asimismo, es su derecho solicitar la corrección de su
    información personal cuando esta sea anterior, sea inexacta o este
    incompleta (Rectificación); que la eliminemos de nuestros registros o bases
    de datos cuando considere que la misma no está siendo utilizada conforme
    a los principios, deberes y obligaciones previstas en la normativa
    (Cancelación); así como a oponerse al uso de sus datos personales para
    fines específicos (Oposición). Estos derechos se conocen como derechos
    ARCO.</p>

  <p>Para hacer valer cualquiera de los derechos ARCO, usted deberá presentar la solicitud 
    correspondiente junto con un documento que acredite su identidad, poder notarial o carta 
    poder acompañada de su identificación oficial firmada ante dos testigos quienes también 
    deberán acompañar su identificación oficial, ya sea directamente en nuestras oficinas, 
    en el domicilio señalado al principio de este Aviso de Privacidad, a través de correo 
    electrónico atnclientes@2msoluciones.com.mx o por medio de nuestra página 
    www.2msoluciones.com.mx</p>

  <p>Usted deberá presentar su solicitud por escrito, requiriendo claramente, ya sea el acceso, 
    rectificación, cancelación u oposición a sus datos personales, proporcionando su domicilio 
    o el medio por el cual se comunicará la respuesta a su solicitud, conteniendo una descripción 
    detallada y precisa de los datos personales a los que se refiere. En caso de solicitar una 
    rectificación de datos, será necesario que nos proporcione la nueva información que substituirá 
    o complementará la anterior.</p>

  <p><b>EDUARDO MURILLO MUÑOZ</b> le responderá si su solicitud resulta procedente o no en un plazo no 
    mayor a 20 (veinte) días naturales. En caso de resultar procedente deberá hacerla efectiva 
    dentro de los 15 (quince) días naturales siguientes. Asimismo, de acuerdo a las disposiciones 
    legales vigentes aplicables, <b>EDUARDO MURILLO MUÑOZ</b> tendrá el derecho de ampliar los plazos 
    antes mencionados por una sola vez con justificación.</p>

  <p><b>EDUARDO MURILLO MUÑOZ</b> dará respuesta a su solicitud en el plazo indicado a través del correo electrónico 
    que usted proporcione para tal efecto. <b>EDUARDO MURILLO MUÑOZ</b> entregará copias electrónicas de los soportes 
    en los que en su caso tuviera almacenados sus datos personales.</p>

  <h3>VIII. MECANISMOS Y PROCEDIMIENTOS PARA QUE, EN SU CASO, EL TITULAR PUEDA REVOCAR SU CONSENTIMIENTO AL TRATAMIENTO DE SUS DATOS PERSONALES.</h3>
  <p>Usted podrá revocar su consentimiento para el tratamiento de sus datos personales en cualquier tiempo, siempre y cuando no se actualice alguna 
    de las excepciones comprendidas en la legislación aplicable. Para ello, es necesario que presente su solicitud en los términos que se 
    describen en el presente Aviso.</p>

  <p>Para la revocación al tratamiento de datos, favor de presentar su solicitud por escrito en las oficinas en el domicilio señalado al principio de 
    este Aviso de Privacidad, a través del correo atnclientes@2msoluciones.com.mx o en nuestra página www.2msoluciones.com.mx proporcionando el 
    domicilio o el medio por el cual se comunicará la respuesta a su solicitud, conteniendo una descripción clara y precisa de los datos personales 
    respecto de los cuales desea revocar su consentimiento y adjuntando copia simple del documento que acredite su identidad.</p>

  <p>EDUARDO MURILLO MUÑOZ responderá en los mismos plazos que aplican para el ejercicio de los derechos de acceso, rectificación, cancelación u 
    oposición y que se establecen en el presente Aviso de Privacidad.</p>

  <h3>IX. MODIFICACIONES AL AVISO DE PRIVACIDAD.</h3>
  <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad para la atención 
    de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.</p>

  <p>Cualquier modificación al contenido del presente Aviso de Privacidad le será informado por <b>EDUARDO MURILLO MUÑOZ</b> mediante (i) anuncios, 
    trípticos o folletos visibles disponibles en nuestra oficina, (ii) en nuestra página www.2msoluciones.com.mx o (iii) se los haremos llegar 
    al último correo electrónico que nos haya proporcionado.</p>

  <p>Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente Aviso de Privacidad para la atención 
    de novedades legislativas, políticas internas o nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos.</p>


    <p>ULTIMA ACTUALIZACIÓN DEL AVISO DE PRIVACIDAD 17 – JUNIO - 2021</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>